

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
env/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/